.fitu-gallery {
    padding-top: 10vh;
}

.fitu-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2vh;
}

.fitu-column {
    flex: 25%;
    max-width: 25%;
    padding-inline: 1vh;
    display: flex;
    justify-content: center;
}

.fitu-column img {
    width: 100%;
    max-height: 33vh;
    aspect-ratio: 0.7;
    object-fit: contain;
    vertical-align: middle;
    filter: drop-shadow(1px 1px 5px var(--main-grey));
    transition: all .2s ease-in-out;
}


.fitu-column img:hover {
    /*
    transform: scale(1.25);
    z-index: 1;
    */
    cursor: pointer;
}

/*
.fitu-column .left-column-img:hover {
    transform: translateX(33%);
}

.fitu-column .left-column-right:hover {
    transform: translateX(-33%);
}
*/

@media screen and (max-width: 800px) {
    .fitu-column {
        flex: 50%;
        max-width: 50%;
    }
}

.fitu-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes fitu-modal-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fitu-modal-content {
    background-color: var(--white-p95);
    margin: 20% auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: fitu-modal-in;
    animation-duration: 0.4s;
}

.fitu-modal-header {
    padding: 2vh;
    background-color: var(--main-red);
    color: white;
    position: relative;
}

.fitu-modal-header .fitu-title {
    right: 5vh;
}

.fitu-modal-close {
    position: absolute;
    top: 0;
    right: 1vh;
    color: white;
    font-weight: bold;
    font-size: 5vh;
    float: right;
    vertical-align: top;
}

.fitu-modal-close:hover,
.fitu-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fitu-modal-body {
    padding: 2vh;
    overflow: auto;
}