/* Landing Header */

.hero-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Squares */

.grid-container {
    width: 100%;
    max-width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-inline: 15vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5%;
}

.grid > * {
    min-width: 0px;
}

.square {
    position: relative;
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
}

.square img {
    max-width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.square:hover img {
    opacity: .3;
    filter: brightness(1.3);
}

.square .square-text {
    padding: 10%;
    text-align: right;
    font-size: 1vh;
    word-wrap: break-word;
}

.square .hover-text {
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.square:hover .hover-text {
    opacity: 1;
}


@media only screen and (max-width: 800px) {
    .grid-container {
        padding-inline: 0;
    }
}