.symbol-img {
    max-height: 33vh;
}

.symbol-row {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.symbol-row:nth-child(odd) .symbol-img-col {
    order: 1;
}

.symbol-row:nth-child(odd) .symbol-text-col {
    order: 2;
}

.symbol-row:nth-child(odd) .symbol-img {
    float: left;
}

.symbol-row:nth-child(even) .symbol-img {
    float: right;
}