---
layout: default
title: Tuna Universitária do Minho
---
<link href="{{ site.baseurl }}/css/landing.css" rel="stylesheet">
<script src="{{ site.baseurl }}/js/landing.js"></script>

<div class="hero-container">
    <div class="hero"></div>
    <script>$(document).ready(landingScroll());</script>
</div>

<div class="grid-container">
    <div class="grid">
        {% for square in site.data.landing.grid %}
        <div class="square">
            {% if square.img %}
            <img src="{{ site.baseurl }}/{{ square.img }}" style="{{ square.style }}"/>
            {% endif %}

            {% if square.text %}
            <p class="square-text" style="{{square.text_style}}">{{ square.text }}</p>
            {% endif %}

            {% if square.hover_text %}
            <p class=" square-text hover-text" style="{{square.text_style}}">
                {% if square.hover_url %}<a href="{{square.hover_url}}">{% endif %}
                {{ square.hover_text }}
                {% if square.hover_url %}</a>{% endif %}
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<script>jQuery(".square .square-text").fitText(0.9);</script>
